body {
  width: 96vw;
  height: calc(100vh - 4vw);
  border: 2vw solid #32325d;
  -webkit-border-radius: 3px 12px 12px 3px;
  border-radius: 3px 12px 12px 3px;
  -webkit-box-shadow: -5px 5px 0 #87bbfd inset;
  box-shadow: -5px 5px 0 #87bbfd inset;
  position: relative;
  background-color: #561F63; 
  background-image: radial-gradient(#F7BC40, #561F63);   
}

body:before {
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 10px;
  border-left: 1vw solid #32325d; 
  -webkit-box-shadow: -5px 5px 0 #6772e5 inset;
  box-shadow: -5px 5px 0 #6772e5 inset;
  content: " ";
  display: block;
}

.title {
  background-color: #32325d;  
  background-image: -webkit-radial-gradient(closest-corner, rgba(16,47,70,0) 60%, rgba(16,47,70,.26)), -webkit-linear-gradient(105deg, #555abf, #32325d 90%);  
  width: 100%;
  border-top: 2vw solid #6772e5;
  border-bottom: 2vw solid #6772e5; 
  line-height: 1.25;
  height: 40vh;
  top: 43vh;
  position: relative;
}

.title:before {
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 10px;
  background: #aaa;
  border-left: 5px solid #87bbfd;
  -webkit-box-shadow: -5px 5px 0 #6772e5 inset;
  box-shadow: -5px 5px 0 #6772e5 inset;
  content: " ";
  display: block;
}

h1 {
  color: #fff;
}

#author {
  color: #87bbfd;
}